<div id="item-container">
    <div id="item-speaker">
        <img src="../../../assets/imagens/icone-alto-falante.png" alt="Ícone de alto falante">
    </div>

    <div id="item-image">
        <img [src]="imagem" alt="Barriguinha de porco">
    </div>

    <div id="item-texto">
        {{texto}}
    </div>

    <div id="item-preco">
        {{preco | currency: 'BRL' }}
    </div>

    <div id="item-quantidade">
        <input type="text" value="1">
        <span class="text-icon"><img id="img-logo" src="assets/imagens/icone-input.png"></span>        
    </div>

    <div id="item-adicionar-button">
        <button>Adicionar</button>
    </div>
</div>