<div id="prat-header-conteiner">
    
    <div id="prat-header-div">
        <div id="prat-header-logo">
            <img id="img-logo" src="assets/imagens/sup-logo.png">
            <img id="img-logo-mob" src="assets/imagens/logo-sem-texto.png">
        </div>

        <div id="prat-header-menu">
            <button class="sis-menu">Ajuda</button>
            <button class="sis-menu">Meus pedidos</button>
            <button class="sis-menu">Cadastre-se</button>
            <button class="sis-menu">Login</button>
        </div>
    </div>

    <div id="prat-total-carrinho">
       TOTAL: R$ 0,00
    </div>

    <div id="prat-categorias-menu">
        <div id="menus-div">
            <button class="sis-menu">Refeições</button>
            <button class="sis-menu">Alimentos</button>
            <button class="sis-menu">Bebidas</button>
            <button class="sis-menu">Limpeza</button>
        </div>
        
        <div id="prat-pesquisar">
            <input type="text" placeholder="Pesquisar">
            <span class="text-icon"><img id="img-logo" src="assets/imagens/icone-input.png"></span>
            
            <button>PAGAR</button>
        </div>
    </div>

    <div id="prat-display">
        <router-outlet></router-outlet>
    </div>
</div>