<div id="prat-header-conteiner" [ngClass]="{'com-menu': showMenus()}">
    
    <div id="prat-header-div"  >
        <div id="prat-header-logo">
            <img id="img-logo"  (click)="irParaPrateleira()" src="assets/imagens/sup-logo.png">
            <img id="img-logo-mob" routerLink="prateleira" src="assets/imagens/logo-sem-texto.png">
        </div>

        <div id="prat-header-menu">
            <button class="sis-menu" routerLink="meuspedidos">Meus pedidos</button>
            <button class="sis-menu" routerLink="produtos">Produtos</button>
            <button class="sis-menu" routerLink="cadastrousuarios">Cadastre-se</button>
            <button class="sis-menu" (click)="irParaPrateleira()">Comprar</button>
        </div>
    </div>
</div>

<div id="prat-display">
    <router-outlet></router-outlet>
</div>