html{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
  }

  #prat-header-conteiner{
    
    max-width: 1200px;
    width: 100%;
    
    margin-left: auto;
    margin-right: auto;
    
    #prat-header-div{
        height: 44px;
        width: 100%;
        background-color: #1c304a;
    }

    #prat-header-logo{
        color: white;
        float: left;
        height: 35px;
        width: 250px;
        padding-top: 5px;
        padding-left: 5px;
        cursor: pointer;
        

        #img-logo{
            width: inherit;
            height: inherit;
        }
        
        #img-logo-mob{
            width: inherit;
            height: inherit;

            display: none;
        }

        @media (max-width: 600px) {
            #img-logo{
                display: none;
            }

            #img-logo-mob{
                display: block;
            }

            width: 50px;
        }
    }

    #prat-header-menu{
        float: right;
        height: 35px;
        width: 400px;
        margin-top: 2px;
        padding-right: 5px;

        button{
            float: right;
            border-style: none;
            background-color: transparent;
            color: white;
            outline: none;
            padding: 0;
            height: 25px;
            margin-left: 15px;
            height: 40px;

            &:hover{
                height: 42px;
                border-bottom: 2px solid;
            }
        }
    }

}

#prat-display{
    padding-top: 5px;
    height: 800px;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    
  @media (max-width: 1146px){
      width: 920px;
  }   
    
  @media (max-width: 892px){
      width: 650px;
  }  

  @media (max-width: 550px){
      width: 300px;
  }  
}

.com-menu{
    border-bottom: 1px solid;
    height: 37px
}